@use "src/variables.scss";

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLeftPart {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // margin-bottom: 20px;
}

.IconBack {
  padding: 10px;
  border-radius: 20px/20px;
  margin-right: 20px;
  :hover {
    background-color: variables.$hover;
    cursor: pointer;
  }
}

.topPart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.addButton {
  color: black !important;
  width: 250px;
  border: 1px rgb(206, 206, 206) solid !important;
  border-radius: 6px;
}

.deleteButton {
  @extend .addButton;
  border: rgb(255, 0, 0);
  margin-left: 30px !important;
}
