@use "src/variables.scss";

.topbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  left: 0;
  background-color: variables.$navbar;
  border: 1px black solid;
}

.topbarPart {
  margin: 0 25px;
  text-decoration: none;
  color: blanchedalmond;
}
.leftSide {
  display: flex;
  align-items: center;
}
