@use "src/variables.scss";

.topbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  background-color: white;
  border: 1px black solid;
  // z-index: 1000;
}

.topbarPart {
  font-size: variables.$Topbar-fontsize;
  display: flex;
  padding: 0 25px;
  text-decoration: none;
  height: 60px;
  align-items: center;
  color: rgb(34, 33, 32);
  &:hover {
    background-color: variables.$hover;
  }
}
.leftSide {
  display: flex;
  align-items: center;
}
