.registration {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 200px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
}

.textField {
  width: 500px;
  margin: 20px 0;
}
