.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.additionalInfo {
  width: 100%;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
}

.text {
  background-color: rgb(219, 219, 219);
  width: 100%;
  min-height: 600px;
  padding: 40px;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.15);
}

.sureDeleteButton {
  color: black !important;
  width: 250px;
  border-radius: 6px;
  background-color: rgb(255, 70, 70) !important;
  margin-left: 30px !important;
}

.addCommentSection {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
}

.commentButton {
  color: black !important;
  width: 250px;
  border: 1px rgb(206, 206, 206) solid !important;
  border-radius: 6px;
  margin-left: 20px !important;
}
