.TopicProfile {
  height: 300px;
  border-radius: 5px;
  padding: 40px 80px;
  margin: 40px 20px;
  min-width: 900px;
  max-width: 1200px;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: rgb(250, 232, 232);
  }
}

.TopicName {
  font-size: 40px;
  font-weight: 400;
  margin: 10px;
}

.TopicDiscription {
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
  height: 200px;
}

.TopicLink {
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
}
