.comment {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 0;
}

.commentText {
  width: 90vw;
  min-height: 70px;
  background-color: rgb(214, 200, 175);
  padding: 20px;
}
.commentUserName {
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}

.addCommentSection {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
}

.commentButton {
  color: black !important;
  width: 250px;
  border: 1px rgb(206, 206, 206) solid !important;
  border-radius: 6px;
  margin-left: 20px !important;
}
