.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottomButtons {
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
}

.postTitle {
  margin: 40px;
  width: 900px;
}

.postTextEditor {
  width: 900px;
}

.postTitleinput {
  z-index: 5 !important;
}
