@use "src/variables.scss";
.login {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 200px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
}

.textField {
  width: 500px;
  margin: 20px 0;
}

.IconLogin {
  padding: 10px;
  border-radius: 20px/20px;
  margin-right: 20px;
  :hover {
    background-color: variables.$hover;
    cursor: pointer;
  }
}
