@use "./variables.scss";

body {
  margin: 0;
}

.App {
  background-color: variables.$lightTheme;
  height: 100vh;
  color: black;
}

.DarkApp {
  background-color: variables.$darkTheme;
  height: 100vh;
  color: white;
}
