$primary-font: "RobotoCondensedRegular", sans-serif;
$secondary-font: "Roboto", sans-serif;

$Topbar-fontweight: 400;
$Topbar-fontsize: 20px;

$navbar: #856868;
$hover: rgb(248, 238, 238);

$darkTheme: #2e2e30;
$lightTheme: #c4c4c4;
